@import url('style6.css');

.abc{
  width: 633px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
  margin-bottom: 3%;
  
 
}

.abc-list{
 border-radius: 15px;
 width: 310px;
 height: 100px;
 background: #fff;

 
}

.abc-list-four{
  border-radius: 15px;
  width: 310px;
  height: 100px;
  background: #fff;
  margin-left: 10px;
 
}
.abc-image{
  margin: 5px;
  width: 120px;
  height: 80px;
}
.abc-image img{
  width: 100%;
  border-radius: 5px;
}

.abc-info{
  position: relative;
  left: 42%;
  bottom: 77%;
} 
.abc-info h2{
font-size: 12px;
margin: 0;
font-weight: 700;
}
.abc-info p{
  margin: 0;
  font-size: 9px;
}

.abc-button{
  padding-top:4px ;
  padding-bottom:4px ;
  background: #d39e00;
  display:flex;
  border: none;
  color: #fff;
  font-size: 5px;
  border-radius: 2px;
}


.sale-discount{
  padding: 0px 3px 5px 0px;
  font-size: 10px;
  font-weight: 700;
}
.sale-full-price{
  font-weight: 700;
  padding: 0px 3px 3px 0px;
  font-size: 10px;
}
.sale-price{
font-size: 12px;
font-weight: 700;
}
.about-section{

  width: 700px;
  height: 140px;
  padding: 50px 17px;
}
.about-content{
  font-size: 10px;
  font-weight: 500;
}
.cart{
  width: 200px;
  height: 300px;
  position: sticky;
  left:79% ;
  bottom: 40px;
  
}
.cart-colm .heading-first{
  font-size: 13px;
  text-align: center;
  color: #d39e00;
  font-weight: 700;
  margin: 0;

} 
.cart-colm .heading-second{
  font-size: 13px;
  text-align: center;
} 

.cart-colm img{
  
  padding-left: 2px;
  width: 100%;
} 


